.html{
  width:100%
}
.headerul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-weight: 500;
}

.bodydiv{
  display: flex;
  justify-content: space-around;
  margin: 12vw !important ;
  margin-bottom: none;
}

.image2{
  width: 32vw;
}
.suchetaImg{
  height: 35vh;
  width: 15vw;
  border-radius: 50%;
}

.resumebtn{
  background-color: #C961DE;
  border-radius: 2%;
  color: white;
  border-style: none;
  height: 2.5rem;
  padding:  .5rem 1rem;
  font-size: medium;
  font-weight: 500;
  margin: 1rem;
}
.resumebtn:hover{
  cursor: pointer;
}

.introp{
  font-size:larger;
  padding: 1rem;
}

.expdiv{
  height: 50rem;
}
.carouseldiv{
  margin-top: -16vw;
}
.carouselchild{
  height: 70vh;
  width: 80vw !important;
  background-color:rgb(45, 9, 80);
  color:  white;
  display: flex;
  justify-content: space-around;
  padding: 2vw;
  background-image: url('./utils/picturesAndIcons/halfPlanet.svg');
  margin: 8vw;
  margin-top: none;
}

.imageCarousel{
  height: 30vh;
  width:auto;
  margin: 10vw;
  margin-left: 20vw;
}
.carouselp{
  font-size: 1.5rem;
}

.divskills{
  display: flex;
  justify-content: space-between;
}
.skillsimg{
  border-color: rgb(17, 10, 66);
  border-width: 1vw;
  border-style: solid;
  height: 80vh;
  width: 60vw;
  margin-top: 5vw;
}

.divskills{
  display: flex;
  justify-content: center;
}

.linkheader{
  text-decoration: none;
  color:white;
}

.contactul{
  display: flex;
  justify-content:space-around;
  list-style: none;
  font-weight: 500;
}

.second{
  height: 4vh;
  width: 2.5vw;
}

.imageandul{
  display: flex;
  justify-content: space-between;
}

.messagediv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.messagesubdiv{
  background-color: #4a4a77;
  display: flex;
  justify-content: space-between;
  margin: 0 20vw;
  padding: 2vw;
  height: 70vh;
  color:rgb(219, 177, 219);

}

.imgform{
  height: 70vh
}

.inputBox1{
  width: 27vw;
  height: 4vh;
  padding: 0.5rem;
  background-color: #816faa;
  color:rgb(254, 252, 252);
  border-style: none;
  border-radius: 3%;
  margin: 1.1rem;
}

.inputBox2{
  height: 6vh;
}

.buttonform{
  background-color: #775c93;
  border-color: #f7f7f9;
  border-radius: 5%;
  width: 10vw;
  height: 4vh;
  color: #f4f2f8;
}
.buttonform:hover{
  cursor: pointer;
}

::placeholder{
  color: white
}

body{
  background:rgb(0, 0, 33);
  font-family: 'Poppins', sans-serif;
  color:rgb(255, 255, 255);
  overflow-x: hidden;
}


@media (max-width: 1000px) {
  .messagesubdiv{
    flex-wrap: wrap;
    width: 90vw
  }
  .imgform{
    display: none;
  }
  .smallimg{
    height: 50vh
  }
  .imageCarousel{
    margin: none;
    width: 60vw
  }
  .carouselchild{
    width: 90vw;
    margin: 5vw;
    font-size: 2vw;
  }
  .carouselp{
    font-size: 2vw;
  }
  .suchetaImg{
    width: 40vw;
  }
  .skillsimg{
    height:40vh
  }
  body{
    font-size: 2vw;
  }
  br {
    display: none;
  }
}

@media(max-width: 750px){
  .image2{
    display: none;
  }
  .bodydiv{
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url('./utils/picturesAndIcons/bottomrightimage.svg');
   text-align: center;
  }
  .contactul{
    flex-wrap: wrap;
  }
  .second{
    width: 10vw;
  }
  .buttonform{
    width: auto;    
  }
  .carouselchild{
    height: 70vh;
    width: 95vw;
    font-size: 4vw;
  }
  .imageCarousel{
    height: 25vh;
    margin: auto;
  }
  body{
    font-size: 4vw;
  }
  .carouselp{
    font-size: 4vw;
  }
  .carouseldiv{
    margin-top: 1vw;
  }
  .skillsimg{
    height: 35vh;
    width: 75vw;
    margin:2vw
  }
  .smallimg{
    height: 60vh;
    width:50vw;
  }
  .messagesubdiv{
    margin: 0 10vw;
    height: 75vh;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBHrNUlYED1n4x6pCDUfwJ4OXvksPkq12S9gKZ1Be8Dkga4UZPF611sQSwTKVwqBKfrx8&usqp=CAU');
    background-size: contain;
  }
  .inputBox1{
    width: 55vw
  }
  .buttonform{
    width: 30vw;
    margin-left: 10vw;
  }
  .divskills{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./utils/picturesAndIcons/bottomrightimage.svg');
  }
}